@import '../../config.all';
.quicktabs-main {
  display: block;
  @include breakpoint($desktop) {
    margin: 0 30px;
  }
}
.slider-tab.active a {
  position: relative;
  font-size: 14px;
  color: $grey;
  @include breakpoint($tablet) {
    font-size: 18px;
  }
  @include breakpoint($desktop) {
    font-size: 24px;
    line-height: 56px;
  }
  &:after,
  &:before {
    border: solid transparent;
    content: ' ';
    display: block;
    height: 0;
    position: absolute;
    pointer-events: none;
    width: 0;
    top: 44px;
  }
  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: $white;
    left: 50%;
    margin-left: -12px;
    border-width: 10px;
  }
  &:before {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: $arrow-blue;
    left: 50%;
    margin-left: -14px;
    border-width: 12px;
  }
}
.quicktabs-wrapper {
  margin-bottom: 50px;
  .slider-tab.active a {
    font-size: 12px;
    color: $grey;
    @include breakpoint($tablet) {
      font-size: 20px;
    }
    @include breakpoint($desktop) {
      font-size: 24px;
    }
  }
  .quicktabs-tabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 20px;
    @include breakpoint($desktop) {
      margin: 0 82px;
    }

    padding: 0;
    border-bottom: 2px solid $heading-blue;

    li,
    a {
      white-space: unset;
      vertical-align: middle;
      text-decoration: none;
      color: $heading-blue;
      text-align: center;
      font-size: 12px;
      font-weight: 400;
      @include breakpoint($tablet) {
        font-size: 16px;
      }
      @include breakpoint($desktop) {
        font-size: 18px;
        line-height: 56px;
      }
    }
  }
}
.slick-prev {
  left: 0;
}
.slick-prev:before {
  content: url('/themes/custom/drupaltaskspecbee/images/svg/left-arrow.svg');
  color: #9ba5ac;
}
.slick-next {
  right: 0;
}
.slick-next:before {
  content: url('/themes/custom/drupaltaskspecbee/images/svg/right-arrow.svg');
  color: #9ba5ac;
}
.slick-list {
  margin: 0 20px;
  @include breakpoint($tablet) {
    margin: 0 50px;
  }
  @include breakpoint($desktop) {
    margin: 0 110px;
  }
}

.slider-container-custom {
  height: 400px;
}
