@import '../../config.all';
.quicktabs-main {
  display: block;
  margin: 0 30px;
}
.quicktabs-tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 82px;
  border-bottom: 1px solid $heading-blue;

  li,
  a {
    font-size: 18px;
    line-height: 56px;
    vertical-align: middle;
    font-weight: 400;
    text-decoration: none;
    color: $heading-blue;
  }
}
.s-previous {
  position: absolute;
  top: 50%;
  z-index: 5;
}
.s-next {
  position: absolute;
  top: 50%;
  right: 30px;
  z-index: 5;
}
.slick-prev:before {
  content: url('/themes/custom/drupaltaskspecbee/images/svg/left-arrow.svg');
  color: #9ba5ac;
}

.slick-next:before {
  content: url('/themes/custom/drupaltaskspecbee/images/svg/right-arrow.svg');
  color: #9ba5ac;
}
